<form id="rate-form" ng-submit="rate()">
    <div id="success" ng-show="submitted">
        <h3>{{ station }}</h3>
        <p><label>Şu anki yoğunluk</label></p>
        <p>
            <span class="current-congestion" ng-class="level-{{ current_congestion }}"></span>
        </p>
        <p>Oy verdiğiniz için teşekkürler.</p>
        <p>
            <a href ng-click="submitted = false" class="back">Geri dön</a>
        </p>
    </div>
    <div ng-hide="submitted">
        <p>
        <label for="station">Bulunduğunuz Durak</label>
        <select id="station" ng-model="station" ng-init="station = 'Zincirlikuyu'">
            <optgroup label="34A">
            <option value="Söğütlüçeşme">Söğütlüçeşme</option>
            <option value="Fikirtepe">Fikirtepe</option>
            <option value="Uzunçayır">Uzunçayır</option>
            <option value="Acıbadem">Acıbadem</option>
            <option value="Altunizade">Altunizade</option>
            <option value="Burhaniye">Burhaniye</option>
            <option value="Boğaziçi Köprüsü">Boğaziçi Köprüsü</option>
            <option value="Zincirlikuyu">Zincirlikuyu</option>
            <option value="Mecidiyeköy">Mecidiyeköy</option>
            <option value="Çağlayan">Çağlayan</option>
            <option value="Okmeydanı Hastane">Okmeydanı Hastane</option>
            <option value="Darülaceze">Darülaceze</option>
            <option value="Okmeydanı">Okmeydanı</option>
            <option value="Halıcıoğlu">Halıcıoğlu</option>
            <option value="Ayvansaray">Ayvansaray</option>
            <option value="Edirnekapı">Edirnekapı</option>
            <option value="Maltepe">Maltepe</option>
            <option value="Bayrampaşa">Bayrampaşa</option>
            <option value="Topkapı">Topkapı</option>
            <option value="Cevizlibağ">Cevizlibağ</option>
            </optgroup>
        </select>
    </p>
    <p>
        <label>Şu anki yoğunluk</label>
    </p>
    <p>
        <span class="current-congestion" ng-class="level-{{ current_congestion }}"></span>
    </p>
    <p>
        <label>Siz de Yoğunluk belirtin</label>
        <ul id="congestion-level">
            <li><a class="level-1" href ng-click="rate(1)">1</a></li>
            <li><a class="level-2" href ng-click="rate(2)">2</a></li>
            <li><a class="level-3" href ng-click="rate(3)">3</a></li>
            <li><a class="level-4" href ng-click="rate(4)">4</a></li>
            <li><a class="level-5" href ng-click="rate(5)">5</a></li>
        </ul>
    </p>
    </div>
    {{ current_congestion }}
</form>