<form id="rate-form" ng-submit="rate()">
    <p>
        <label for="station">Bulunduğunuz Durak</label>
        <select id="station" ng-model="station" ng-init="station = 'Söğütlüçeşme'">
            <optgroup label="34A">
            <option value="Söğütlüçeşme">Söğütlüçeşme</option>
            <option value="Fikirtepe">Fikirtepe</option>
            <option value="Uzunçayır">Uzunçayır</option>
            <option value="Acıbadem">Acıbadem</option>
            <option value="Altunizade">Altunizade</option>
            <option value="Burhaniye">Burhaniye</option>
            <option value="Boğaziçi Köprüsü">Boğaziçi Köprüsü</option>
            <option value="Zincirlikuyu">Zincirlikuyu</option>
            <option value="Mecidiyeköy">Mecidiyeköy</option>
            <option value="Çağlayan">Çağlayan</option>
            <option value="Okmeydanı Hastane">Okmeydanı Hastane</option>
            <option value="Darülaceze">Darülaceze</option>
            <option value="Okmeydanı">Okmeydanı</option>
            <option value="Halıcıoğlu">Halıcıoğlu</option>
            <option value="Ayvansaray">Ayvansaray</option>
            <option value="Edirnekapı">Edirnekapı</option>
            <option value="Maltepe">Maltepe</option>
            <option value="Bayrampaşa">Bayrampaşa</option>
            <option value="Topkapı">Topkapı</option>
            <option value="Cevizlibağ">Cevizlibağ</option>
            <option value="Merter">Merter</option>
            <option value="Zeytinburnu">Zeytinburnu</option>
            <option value="İncirli">İncirli</option>
            <option value="Bahçelievler">Bahçelievler</option>
            <option value="Şirinevler">Şirinevler</option>
            <option value="Yenibosna">Yenibosna</option>
            <option value="Sefaköy">Sefaköy</option>
            <option value="Beşyol">Beşyol</option>
            <option value="Florya">Florya</option>
            <option value="Cennet Mah.">Cennet Mah.</option>
            <option value="Küçükçekmece">Küçükçekmece</option>
            <option value="İBB Sosyal Tesisler">İBB Sosyal Tesisler</option>
            <option value="Şükrübey">Şükrübey</option>
            <option value="Avcılar Kampüs">Avcılar Kampüs</option>
            <option value="Avcılar Merkez">Avcılar Merkez</option>
            <option value="Mustafa Kemal Paşa">Mustafa Kemal Paşa</option>
            <option value="Saadetdere Mah.">Saadetdere Mah.</option>
            <option value="Haramidere Sanayi">Haramidere Sanayi</option>
            <option value="Haramidere">Haramidere</option>
            <option value="Güzelyurt">Güzelyurt</option>
            <option value="Beylikdüzü">Beylikdüzü</option>
            <option value="Beylikdüzü Belediye">Beylikdüzü Belediye</option>
            <option value="Cumhuriyet Mah.">Cumhuriyet Mah.</option>
            <option value="Hadımköy">Hadımköy</option>
            <option value="Beylikdüzü Sondurak">Beylikdüzü Sondurak</option>

            </optgroup>
        </select>
    </p>
    <p>
        <label>Yoğunluk</label>
        <ul id="congestion-level">
            <li><a class="level-1" href ng-click="rate(1)">1</a></li>
            <li><a class="level-2" href ng-click="rate(2)">2</a></li>
            <li><a class="level-3" href ng-click="rate(3)">3</a></li>
            <li><a class="level-4" href ng-click="rate(4)">4</a></li>
            <li><a class="level-5" href ng-click="rate(5)">5</a></li>
        </ul>
    </p>
</form>
